{% extends 'picit/base.html' %}
{% load staticfiles %}

{% block content  %}

    <form action="{% url 'picit:index' %}" method="post">
        {% csrf_token %}
        <div><input type="text" name="title" placeholder="Title"/></div>
        <div><input type="text" name="tags" placeholder="Tags"/></div>
        <div><input type="text" name="url" placeholder="URL"/></div>
        <div><input type="submit" value="Add Image" class="btn btn-primary" /><div>
    </form>

    <hr />

    {% if images %}
        <ul>
            {% for image in images %}
                <div>
                    <div>
                        <a href="{{ image.url }}" target="_blank"><img src="{{ image.url }}" width="200"></a>
                    </div>
                    <div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images exist.</p>
    {% endif %}

{% endblock %}