{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="center edit-pic">

        <table class="table table-striped">
            <tbody>
            {% for user in users %}
                {% if user.first_name and user.username != me.username%}
                    <tr>
                        <td class="find-friend-pic-container">
                            {% if user.profile.picture %}
                                <a href="/portfolio/users/{{ user.username }}/profile">
                                    <img src="{{ user.profile.picture.url }}" class="find-friend-pic" alt="Profile Image">
                                </a>
                            {% else %}
                                <a href="/portfolio/users/{{ user.username }}/profile">
                                    <img src="{% static 'portfolio/img/default-no-image.png' %}" class="find-friend-pic" alt="No Profile Image" />
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ user.first_name }} {{ user.last_name }}
                            <br />Photographer
                            <br />www.sfu.ca/~pbastani
                        </td>
                        <td>
                            I'm a photographer
                        </td>
                        <td>
                            www.sfu.ca/~pbastani
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}