{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content  %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="/portfolio/followers/view"><i class="fa fa-users"></i> Connections</a></li>
            <li><a href="/portfolio/photos/view"><i class="fa fa-photo"></i> Photos</a></li>
            <li><a href="/portfolio/profile/view"><i class="fa fa-user"></i> Profile</a></li>
            <li class="pull-left header">{{ me.first_name }} {{ me.last_name }}</li>
        </ul>
        <div class="tab-content">

            <section class="content">
                <div class="row">

                    <div class="col-md-6">
                        <div>
                            People Following me
                        </div>
                        <table class="table table-striped">
                            {% for profile in followers %}
                                <tr>
                                    <td class="col-md-4">
                                        {% if profile.picture %}
                                            <a href="/portfolio/users/{{ user.username }}/profile">
                                                <img src="{{ profile.picture.url }}" class="find-friend-pic" alt="Profile Image">
                                            </a>
                                        {% else %}
                                            <a href="/portfolio/users/{{ user.username }}/profile">
                                                <img src="{% static 'portfolio/img/default-no-image.png' %}" class="find-friend-pic" alt="No Profile Image" />
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="col-md-8">
                                        <b>{{ profile.user.first_name }} {{ profile.user.last_name }}</b><br>
                                        Photos: {{ profile.user.photos.count }}<br>
                                        Buzz: <br>
                                        Followers: {{ profile.followers.count }}<br>
                                        Last Online: {{ profile.last_online|date:"M. d, Y" }}<br>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="col-md-6">
                        <div>
                            People I follow
                        </div>
                        <table class="table table-striped">
                            {% for profile in followees %}
                                <tr>
                                    <td class="col-md-4">
                                        {% if profile.picture %}
                                            <a href="/portfolio/users/{{ user.username }}/profile">
                                                <img src="{{ profile.picture.url }}" class="find-friend-pic" alt="Profile Image">
                                            </a>
                                        {% else %}
                                            <a href="/portfolio/users/{{ user.username }}/profile">
                                                <img src="{% static 'portfolio/img/default-no-image.png' %}" class="find-friend-pic" alt="No Profile Image" />
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="col-md-8">
                                        <b>{{ profile.user.first_name }} {{ profile.user.last_name }}</b><br>
                                        Photos: {{ profile.user.photos.count }}<br>
                                        Buzz: <br>
                                        Followers: {{ profile.followers.count }}<br>
                                        Last Online: {{ profile.last_online|date:"M. d, Y" }}<br>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </section>
        </div>
    </div><!-- /.nav-tabs-custom --a>
{% endblock %}