{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content  %}
    <section class="content">
        <div class="row">
            <div class="box box-primary login-form" style="width: 40%;">
                <div class="box-header">
                    <h3 class="box-title">Log In</h3>
                </div>
                <form role="form" method="post" action="/portfolio/login/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <input type="email" class="form-control form-group-element" id="email" name="{{ login_form.email.name }}" placeholder="Email Address">
                            <input type="password" class="form-control" id="email" name="{{ login_form.password.name }}" placeholder="Password">
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/portfolio/register" class="pull-right" style="margin-top: 5px;">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}