{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content  %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li><a href="/portfolio/followers/view"><i class="fa fa-users"></i> Connections</a></li>
            <li><a href="/portfolio/photos/view"><i class="fa fa-photo"></i> Photos</a></li>
            <li class="active"><a href="/portfolio/profile/view"><i class="fa fa-user"></i> Profile</a></li>
            <li class="pull-left header">{{ me.first_name }} {{ me.last_name }}</li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="about" style="height: 300px;">
                <div class="pull-left image profile-pic-container">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}" class="profile-pic" alt="Profile Image">
                    {% else %}
                        <img src="{% static 'portfolio/img/default-no-image.png' %}" alt="No Profile Image" />
                    {% endif %}
                </div>
                <div>

                    {% if profile.website_name %}
                        <div>
                            <i class="fa fa-globe"></i> </span><a href="http://{{ profile.website_url }}" target="blank">{{ profile.website_name }}</a><br>
                            <i class="fa fa-twitter"></i> Twitter account<br>
                            <i class="fa fa-flickr"></i> Flickr account<br>
                            <hr>
                        </div>
                    {% endif %}
                    <div>
                        <h4><b>About me</b></h4>
                        <p style="text-align: justify;">{{ profile.aboutme }}</p>
                    </div>
                </div>
            </div>
            <div class="chart tab-pane" id="photos" style="position: relative; height: 300px;">
                <div>
                    {% for photo in profile.photos.all %}
                        <a href="/portfolio/photos/edit/{{ forloop.counter0 }}"><img src="{{ photo.file.url }}" class="portfolio-pic"></a>
                    {% endfor %}
                </div>
                <div>
                    <a href="/portfolio/portfolio/delete/" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-trash"></i> Delete</a>
                </div>
            </div>
            <div class="chart tab-pane" id="friends" style="position: relative; height: 300px;">
                Here's a list of my friends.
            </div>
        </div>
    </div><!-- /.nav-tabs-custom -->
{% endblock %}