{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content  %}
    <section class="content">
        <div class="row">
            <div class="box box-primary login-form" style="width: 500px;">
                {% if errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <i class="fa fa-ban"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="box-header">
                    <h3 class="box-title">Add Photos</h3>
                </div>
                {% if errors %}
                    <div style="color: darkred; font-weight: bold;">
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form role="form" method="post" class="form-horizontal" action="{% url "portfolio:upload_photos" %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group">
                            <input name="{{ form.photos.name }}" type="file" multiple="True">
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}