{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block content  %}
     <div class="box box-primary login-form" style="width: 500px;">
        {% if errors %}
            <div class="alert alert-danger alert-dismissable">
                <i class="fa fa-ban"></i>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="box-header">
            <h3 class="box-title">Edit Profile</h3>
        </div>
        {% if errors %}
            <div style="color: darkred; font-weight: bold;">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form role="form" method="post" class="form-horizontal" action="/portfolio/profile/edit/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">

                <div class="form-group">

                    <!-- website url -->
                    <label for="{{ form.website_url.name }}" class="control-label col-xs-2">{{ form.website_url.label }}</label>
                    <div class="col-xs-10">
                        <input type="text" class="col-xs-10 form-control form-group-element" name="{{ form.website_url.name }}" placeholder="Website URL" value="{{ profile.website_url }}">
                    </div>

                    <!-- website name -->
                    <label for="{{ form.website_url.name }}" class="control-label col-xs-2">{{ form.website_name.label }}</label>
                    <div class="col-xs-10">
                        <input type="text" class="col-xs-10 form-control form-group-element" name="{{ form.website_name.name }}" placeholder="Website Name" value="{{ profile.website_name }}">
                    </div>

                    <!-- about me -->
                    <label for="{{ form.aboutme.name }}" class="control-label col-xs-2">{{ form.aboutme.label }}</label>
                    <div class="col-xs-10">
                        <textarea class="col-xs-10 form-control form-group-element" rows="8" name="{{ form.aboutme.name }}" placeholder="Introduction">{{ profile.aboutme }}</textarea>
                    </div>

                    <!-- profile photo -->
                    <label for="{{ form.picture.name }}" class="control-label col-xs-2">{{ form.picture.label }}</label>
                    <div class="col-xs-10">
                        {{ form.picture }}
                        {% if profile.picture %}
                            <img src="{{ profile.picture.url }}" alt="Profile Image" style="width: 200px;">
                        {% endif %}
                    </div>
                </div>

            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}