{% extends 'listings/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid" style="margin-top: 20px;">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-midnightblue">
                    <div class="panel-heading">
                        <h2>{{ category }}</h2>
                    </div>
                    <div class="panel-body">
                        <div style="background-color: aliceblue; padding: 5px;">
                            <b>Dec. 14 - The ad's title</b>
                            <p>Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred. </p>
                        </div>
                        <div style="background-color: ghostwhite; padding: 5px;">
                            <b>Dec. 14 - The ad's title</b>
                            <p>Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- .container-fluid -->

{% endblock %}