{% extends 'listings/base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'listings/assets/css/lightbox.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'listings/assets/fancybox/jquery.fancybox.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'listings/assets/fancybox/helpers/jquery.fancybox-thumbs.css' %}" type="text/css" rel="stylesheet">

    <style type="text/css">
        .fancybox-custom .fancybox-skin {
            box-shadow: 0 0 50px #222;
        }
    </style>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="/listings/">Listings</a></li>
        <li><a href="/listings/search/">Search</a></li>
        <li><a href="/listings/search/{{ search_string.split|join:'-' }}">{{ search_string }}</a></li>
    </ol>
    <div class="container-fluid">

        <div class="row">
            {% if posts %}
                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                    <tr class="info">
                        <th class="post-table-col center-text">Picture</th>
                        <th>Title</th>
                        <th class="post-table-col center-text">Post Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>
                                {% if post.pictures.all.count > 0 %}
                                    {% for picture in post.pictures.all %}
                                        {% thumbnail picture.file "1000" as big %}
                                            {% thumbnail picture.file "80x80" crop="center" as im %}
                                                <a class="m0 p0" href="{{ big.url }}" data-lightbox="example-set" data-title="Untitled.">
                                                    {% if forloop.counter == 1 %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                                    {% endif %}
                                                </a>
                                            {% endthumbnail %}
                                        {% endthumbnail %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="/listings/post/{{ post.id }}">{{ post.title }}</a>
                                <p class="content">{{ post.content|slice:":300" }}</p>
                            </td>
                            <td class="center-text">{{ post.create_date|date:"M. d, Y" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info">
                    <p>No posts founds.</p>
                </div>
            {% endif %}
        </div>

    </div> <!-- .container-fluid -->

{% endblock %}

{{% block js %}
    <script src="{% static 'listings/assets/js/lightbox.js' %}"></script>
{% endblock %}