{% extends 'listings/frontend/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container-fluid" style="margin-top: 20px;">

        <div class="row">
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="tiles-footer">
                        Housing
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-heart"></i></div>
                    </div>
                    <div class="tiles-footer">
                        Relationships
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-briefcase"></i></div>
                    </div>
                    <div class="tiles-footer">
                        Jobs
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-group"></i></div>
                    </div>
                    <div class="tiles-footer">
                        Community
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-book"></i></div>
                    </div>
                    <div class="tiles-footer">
                        Lessons
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-brown">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-money"></i></div>
                    </div>
                    <div class="tiles-footer">
                        For Sale
                    </div>
                </a>
            </div>
        </div>

    </div> <!-- .container-fluid -->

{% endblock %}