{% extends 'listings/admin/base.html' %}
{% load staticfiles %}
{% load listings_tags %}

{% block content %}

    <div class="page-heading">
        <h1>Add Post</h1>
    </div>

    <form role="form" method="post" class="form-horizontal col-md-offset-2 col-md-8" action="/listings/myposts/edit/0/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="post-form">
            <input type="number" name="{{ form.id.name }}" value="{{ post.id }}" hidden="true">

            <!-- title -->
            <div class="row form-group-element">
                <label for="{{ form.title.name }}" class="control-label col-md-2">{{ form.title.label }}</label>
                <div class="col-md-10">
                    <input type="text" class="form-control form-group-element" name="{{ form.title.name }}" placeholder="Untitled Post" value="{{ post.title }}">
                </div>
            </div>

            <!-- content -->
            <div class="row form-group-element">
                <label for="{{ form.content.name }}" class="control-label col-md-2">{{ form.content.label }}</label>
                <div class="col-md-10">
                    <textarea class="form-control form-group-element" rows="8" name="{{ form.content.name }}" placeholder="Post Content">{{ post.content }}</textarea>
                </div>
            </div>

            <!-- tags -->
            <div class="row form-group-element">
                <label for="{{ form.tags.name }}" class="control-label col-md-2">{{ form.tags.label }}</label>
                <div class="col-md-10">
                    <input type="text" class="form-control form-group-element" name="{{ form.tags.name }}" placeholder="Tags">
                </div>
            </div>

            <!-- price -->
            <div class="row form-group-element">
                <label for="{{ form.price.name }}" class="control-label col-md-2">{{ form.price.label }}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <input type="number" class="form-control form-group-element" name="{{ form.price.name }}" placeholder="Untitled Post" value="{{ post.price }}">
                    </div>
                </div>
            </div>

            <!-- Location -->
            <div class="row form-group-element">
                <label for="{{ form.location.name }}" class="control-label col-md-2">{{ form.location.label }}</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        <input type="text" class="form-control form-group-element" name="{{ form.location.name }}" value="{{ post.location }}">
                    </div>
                </div>
            </div>

            <div class="form-group-element col-md-offset-2">
                <button type="submit" class="btn btn-primary-alt btn-block">
                    {% if not post.id %}
                        Post
                    {% else %}
                        Save
                    {% endif %}
                </button>
            </div>
        </div>
    </form>

{% endblock %}