{% extends 'timeline/base.html' %}


{% block timelineplot  %}

    <!--TimeLine -->
    <div class="example">
        <div class="row">
            <div class="col-md-7">
                <div class="timeline">
                    <dl>
                        {% for event in events %}
                            {% if event.section_date != 0 %}
                                <dt>{{ event.section_date }}</dt>
                            {% endif %}

                            <dd class="pos-left clearfix">
                                <div class="circ"></div>
                                <div class="time">{{ event.event_date }}</div>
                                <div class="events">
                                    <div class="events-body">
                                        <h4 class="events-heading">{{ event.title }}</h4>
                                        {% comment %}<p>{{ event.description }}</p> {% endcomment %}
                                    </div>
                                </div>
                            </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="col-md-5">
                Event Description
            </div>
        </div>
    </div>

{% endblock %}